@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.4rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .display-node-name {
    @apply relative  border-l-[1px] border-b-[1px]
        bottom-4 right-2 pt-[22px]  pb-[8px] border-gray-700;
  }
  .display-node-name-extended {
    @apply relative  border-l-[1px] border-b-[1px]
    bottom-4 right-2  pb-[8px] border-gray-700 pt-[33px]
  }

  .intermediary-nodes {
    @apply relative
        w-5
        right-2
        bottom-[13px]
        pt-[31px]
        pb-3
        border-l-[1px] border-gray-700;
  }
  .intermediary-nodes-extended {
    @apply relative
        w-5
        right-2
        bottom-[13px]
        pt-[43px]
        pb-3
        border-l-[1px] border-gray-700;
  }

  .backdrop {
    background: rgba(20, 25, 47, 0.5);
  }

  .menu-item-ok {
    @apply outline-none focus:bg-primary focus:text-primary-foreground p-2 rounded-sm cursor-pointer flex flex-row items-center space-x-1;
  }
  .menu-item-danger {
    @apply outline-none focus:bg-destructive focus:text-primary-foreground p-2 rounded-sm cursor-pointer flex flex-row items-center space-x-1;
  }

  .label-required{
    @apply text-destructive decoration-destructive after:content-['*']
  }
}
